In [1]:
import json
from math import comb

import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
from datetime import datetime, timedelta
from pathlib import Path

directory = Path("data/Biketown Raw Data")
filtered_dfs = []
column_mapping = {
    'Start_Latitude': 'StartLatitude',
    'Start_Longitude': 'StartLongitude',
    'End_Latitude': 'EndLatitude',
    'End_Longitude': 'EndLongitude',
    'Distance_Miles_': 'DistanceMiles',
    'Distance_Miles': 'DistanceMiles',
}

for file_path in directory.rglob('*'):
    year, month = map(int, file_path.stem.split('_'))
    df = pd.read_csv(file_path)
    
    df.rename(columns=column_mapping, inplace=True)
    
    # combined_df['StartDateTime'] = pd.to_datetime(combined_df['StartDate'] + ' ' + combined_df['StartTime'])
    # combined_df['EndDateTime'] = pd.to_datetime(combined_df['EndDate'] + ' ' + combined_df['EndTime'])
    
    df['StartDate'] = pd.to_datetime(df['StartDate'] + ' ' + df['StartTime'])
    df['EndDate'] = pd.to_datetime(df['EndDate'] + ' ' + df['EndTime'])
    # df['EndDate'] = pd.to_datetime(df['EndDate'])
    
    nan_duration_mask = df['Duration'].isna()
    calculated_duration = (df['EndDate'] - df['StartDate'])
    df.loc[nan_duration_mask, 'Duration'] = calculated_duration[nan_duration_mask]
    df.loc[~nan_duration_mask, 'Duration'] = pd.to_timedelta(df.loc[~nan_duration_mask, 'Duration'])
    
    start_of_month = datetime(year, month, 1)
    end_of_month = datetime(year, month + 1, 1) - timedelta(seconds=1) if month < 12 else datetime(
        year + 1, 1, 1
        ) - timedelta(
        seconds=1
    )
    
    df_filtered = df[
        (df['StartDate'] >= start_of_month - timedelta(days=1)) & (df['EndDate'] <= end_of_month + timedelta(days=1))]
    filtered_dfs.append(df_filtered)

og_combined_df = pd.concat(filtered_dfs, ignore_index=True)

/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_5409/3363474797.py:17: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_5409/3363474797.py:17: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_5409/3363474797.py:17: DtypeWarning: Columns (12,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [108]:
coords = pd.concat(
    [
        og_combined_df[['StartLatitude', 'StartLongitude']],
        og_combined_df[['EndLatitude', 'EndLongitude']].rename(
            columns={'EndLatitude': 'StartLatitude', 'EndLongitude': 'StartLongitude'}
        )
    ]
)

original_unique_coords = len(coords.drop_duplicates())

for i in range (9):
    rounded_unique_coords = len(coords.round(i).drop_duplicates())
    print(f"{i}: {rounded_unique_coords/original_unique_coords} ||| {rounded_unique_coords} / {original_unique_coords}")

0: 0.002386634844868735 ||| 11 / 4609
1: 0.00694293773052723 ||| 32 / 4609
2: 0.08396615317856368 ||| 387 / 4609
3: 0.7114341505749621 ||| 3279 / 4609
4: 0.973096116294207 ||| 4485 / 4609
5: 0.9965285311347364 ||| 4593 / 4609
6: 0.9989151659796052 ||| 4604 / 4609
7: 1.0 ||| 4609 / 4609
8: 1.0 ||| 4609 / 4609

In [161]:
combined_df = og_combined_df.copy()
combined_df = combined_df[combined_df['Duration'] > timedelta(days=0)]
combined_df = combined_df[(30 >= combined_df['DistanceMiles']) & (combined_df['DistanceMiles'] > 0)]
combined_df = combined_df[(combined_df['Duration'] <= timedelta(days=1)) | (combined_df['DistanceMiles'] >= 1)]
combined_df['Duration'] = pd.to_timedelta(combined_df['Duration'])
combined_df['RouteID'] = combined_df['RouteID'].fillna(0).astype(int)
combined_df['BikeID'] = combined_df['BikeID'].fillna(0).astype(int)
combined_df['BikeName'] = combined_df['BikeName'].str.lower().str.strip().astype(str)

combined_df = combined_df[combined_df['StartDate'] <= combined_df['EndDate']]

combined_df.drop(columns=['StartTime', 'EndTime'], inplace=True)

combined_df.dropna(how='all', inplace=True) 
combined_df.dropna(subset=["StartLongitude", "StartLatitude", "StartHub"], how='all', inplace=True) 
combined_df.dropna(subset=["EndLongitude", "EndLatitude", "EndHub"], how='all', inplace=True)

coord_columns = ['StartLongitude', 'StartLatitude', 'EndLongitude', 'EndLatitude']
# combined_df[coord_columns] = combined_df[coord_columns].round(3)

start_coords = combined_df[['StartLatitude', 'StartLongitude']].drop_duplicates()
end_coords = combined_df[['EndLatitude', 'EndLongitude']].rename(
    columns={'EndLatitude': 'StartLatitude', 'EndLongitude': 'StartLongitude'}
).drop_duplicates()
coords = pd.concat([start_coords, end_coords]).drop_duplicates()
coords['ID'] = range(len(coords))
coords_dict = coords.set_index(['StartLatitude', 'StartLongitude'])['ID'].to_dict()
combined_df['StartID'] = combined_df.apply(
    lambda row: coords_dict[(row['StartLatitude'], row['StartLongitude'])], axis=1
)
combined_df['EndID'] = combined_df.apply(lambda row: coords_dict[(row['EndLatitude'], row['EndLongitude'])], axis=1)


# combined_df['StartID'] = combined_df['StartLatitude'].astype(str) + '##' + combined_df['StartLongitude'].astype(str)
# combined_df['EndID'] = combined_df['EndLatitude'].astype(str) + '##' + combined_df['EndLongitude'].astype(str)

In [162]:
df_for_export = combined_df.copy()

df_for_export.drop(columns=[
    'StartLatitude', 'EndLatitude', 'StartLongitude', 'EndLongitude',
    'StartHub', 'EndHub',
    'PaymentPlan', 'TripType', 'RentalAccessPath', 'MultipleRental',
    'RouteID', 'BikeName' # question: should we leave this in
], inplace=True)

df_for_export['Duration'] = df_for_export['Duration'].dt.total_seconds().astype(int)

df_for_export['StartDate'] = df_for_export['StartDate'].dt.strftime(
    '%Y-%m-%dT%H:%M:%S'
)
df_for_export['EndDate'] = df_for_export['EndDate'].dt.strftime(
    '%Y-%m-%dT%H:%M:%S'
)

In [163]:
from collections import Counter

nodes = {}
# edges = Counter()

for index, row in combined_df.iterrows():
    start_id = row['StartID']
    end_id = row['EndID']
    
    if start_id not in nodes:
        nodes[start_id] = {
            'lat': row['StartLatitude'],
            'lon': row['StartLongitude'],
            'Name': Counter(),
            'Count': 1
        }
    else:
        nodes[start_id]['Count'] += 1
    
    if end_id not in nodes:
        nodes[end_id] = {
            'lat': row['EndLatitude'],
            'lon': row['EndLongitude'],
            'Name': Counter(),
            'Count': 1
        }
    else:
        nodes[end_id]['Count'] += 1
    
    if pd.notna(row['StartHub']):
        nodes[start_id]['Name'][row['StartHub']] += 1
    if pd.notna(row['EndHub']):
        nodes[end_id]['Name'][row['EndHub']] += 1
    
    # edges[(start_id, end_id)] += 1

for node_id, node_data in nodes.items():
    if node_data['Name']:
        most_common_name, _ = node_data['Name'].most_common(1)[0]
        node_data['Name'] = most_common_name
    else:
        node_data['Name'] = None

In [164]:
nodes_df = pd.DataFrame.from_dict(nodes, orient='index')
nodes_df.to_csv("data/Biketown Cleaned Data/hubs.csv", index=False)

df_for_export.to_csv("data/Biketown Cleaned Data/trips.csv", index=False)

In [165]:
tests = [1,2,3,4,5,10,20,100]
og_len = len(nodes_df)
for i in tests:
    length = len(nodes_df[nodes_df['Count'] > i])
    
    print(
        f"{i}: {length / og_len:.0%} ||| {length} / {og_len}"
    )

1: 86% ||| 3939 / 4587
2: 76% ||| 3472 / 4587
3: 71% ||| 3277 / 4587
4: 67% ||| 3056 / 4587
5: 64% ||| 2917 / 4587
10: 54% ||| 2480 / 4587
20: 46% ||| 2088 / 4587
100: 27% ||| 1219 / 4587

In [179]:
nodes_df.reset_index().rename(columns={'index': 'id'})

        id        lat         lon                    Name  Count
0        0  45.529760 -122.696643      NW 22nd at Lovejoy   9800
1       52  45.525079 -122.677556  NW Broadway at Everett  18816
2        1  45.522941 -122.688602                    None    494
3        5  45.522479 -122.673297        SW 3rd at Ankeny  25054
4        2  45.521622 -122.682415                    None    348
...    ...        ...         ...                     ...    ...
4582  4147  45.444012 -122.641277                    None      2
4583  4148  45.445517 -122.641659                    None      3
4584  4149  45.511527 -122.559101                    None      2
4585  4150  45.505369 -122.600286                    None      2
4586  4151  45.528402 -122.653572                    None      1

[4587 rows x 5 columns]

In [177]:
nodes

{0: {'lat': 45.52976024,
  'lon': -122.6966429,
  'Name': 'NW 22nd at Lovejoy',
  'Count': 9800},
 52: {'lat': 45.52507854,
  'lon': -122.6775563,
  'Name': 'NW Broadway at Everett',
  'Count': 18816},
 1: {'lat': 45.5229406, 'lon': -122.6886019, 'Name': None, 'Count': 494},
 5: {'lat': 45.52247868,
  'lon': -122.6732969,
  'Name': 'SW 3rd at Ankeny',
  'Count': 25054},
 2: {'lat': 45.5216215, 'lon': -122.6824147, 'Name': None, 'Count': 348},
 84: {'lat': 45.52196048,
  'lon': -122.6896772,
  'Name': 'SW Morrison at 18th',
  'Count': 23204},
 3: {'lat': 45.51928859,
  'lon': -122.6792488,
  'Name': 'SW Morrison at Pioneer Courthouse Sq.',
  'Count': 19758},
 78: {'lat': 45.53080401,
  'lon': -122.6844227,
  'Name': 'NW 13th at Marshall',
  'Count': 31778},
 4: {'lat': 45.531477, 'lon': -122.6844821, 'Name': None, 'Count': 1994},
 127: {'lat': 45.5360712, 'lon': -122.6852715, 'Name': None, 'Count': 7033},
 87: {'lat': 45.52175423,
  'lon': -122.6810794,
  'Name': 'SW 10th at Stark',
  'Count': 16238},
 6: {'lat': 45.50971347,
  'lon': -122.6777159,
  'Name': 'SW Harrison at 1st',
  'Count': 8603},
 34: {'lat': 45.49913657,
  'lon': -122.6716433,
  'Name': 'SW Moody at Aerial Tram Terminal',
  'Count': 33646},
 7: {'lat': 45.5230037, 'lon': -122.6658179, 'Name': None, 'Count': 428},
 219: {'lat': 45.5171999, 'lon': -122.6772947, 'Name': None, 'Count': 913},
 8: {'lat': 45.5230012, 'lon': -122.6656734, 'Name': None, 'Count': 12},
 9: {'lat': 45.52373453,
  'lon': -122.6372065,
  'Name': 'NE 28th at Couch - Community Corral',
  'Count': 4296},
 22: {'lat': 45.51222277,
  'lon': -122.6454261,
  'Name': 'SE Hawthorne at 20th',
  'Count': 8524},
 10: {'lat': 45.5193178, 'lon': -122.636005, 'Name': None, 'Count': 141},
 146: {'lat': 45.51202353,
  'lon': -122.6363119,
  'Name': 'SE 29th at Hawthorne',
  'Count': 6962},
 11: {'lat': 45.514975,
  'lon': -122.623157,
  'Name': 'SE Taylor at Chavez',
  'Count': 1839},
 124: {'lat': 45.50512504,
  'lon': -122.6533681,
  'Name': 'SE Elliott at Division',
  'Count': 11881},
 12: {'lat': 45.5211726,
  'lon': -122.6763654,
  'Name': 'SW 5th at Oak',
  'Count': 20152},
 270: {'lat': 45.5123205,
  'lon': -122.6789108,
  'Name': 'SW Market at Keller Fountain Park',
  'Count': 10946},
 13: {'lat': 45.52487653,
  'lon': -122.6965141,
  'Name': 'NW Everett at 22nd',
  'Count': 21062},
 16: {'lat': 45.52269855,
  'lon': -122.6587513,
  'Name': 'SE 7th at Burnside',
  'Count': 8463},
 14: {'lat': 45.55905507,
  'lon': -122.6427104,
  'Name': 'NE Alberta at 22nd - Community Corral',
  'Count': 3340},
 15: {'lat': 45.54828551,
  'lon': -122.6508106,
  'Name': 'NE Fremont at 15th - Community Corral',
  'Count': 2867},
 321: {'lat': 45.5590859, 'lon': -122.6468005, 'Name': None, 'Count': 192},
 100: {'lat': 45.52389222,
  'lon': -122.6721825,
  'Name': 'NW Couch at 2nd',
  'Count': 7465},
 17: {'lat': 45.51592353,
  'lon': -122.6833123,
  'Name': 'SW Park at Portland Art Museum',
  'Count': 12012},
 18: {'lat': 45.51633325,
  'lon': -122.6566324,
  'Name': 'SE 9th at Belmont',
  'Count': 13484},
 180: {'lat': 45.513661, 'lon': -122.6587152, 'Name': None, 'Count': 207},
 19: {'lat': 45.50356665,
  'lon': -122.6395279,
  'Name': 'SE Clinton at 26th',
  'Count': 7989},
 175: {'lat': 45.53027884,
  'lon': -122.654669,
  'Name': 'NE 11th at Holladay Park',
  'Count': 9232},
 20: {'lat': 45.5193416, 'lon': -122.6516153, 'Name': None, 'Count': 1451},
 510: {'lat': 45.4960484, 'lon': -122.6396204, 'Name': None, 'Count': 147},
 21: {'lat': 45.5286366,
  'lon': -122.6820195,
  'Name': 'NW Johnson at Jamison Square',
  'Count': 21094},
 282: {'lat': 45.51609691,
  'lon': -122.6790771,
  'Name': 'SW 5th at Main',
  'Count': 12767},
 23: {'lat': 45.52331306,
  'lon': -122.6932633,
  'Name': 'NW 20th at Burnside',
  'Count': 15055},
 69: {'lat': 45.53409115,
  'lon': -122.6949424,
  'Name': 'NW Raleigh at 21st',
  'Count': 23311},
 24: {'lat': 45.52286956,
  'lon': -122.6789859,
  'Name': 'SW Park at W Burnside',
  'Count': 6285},
 986: {'lat': 45.520955, 'lon': -122.6827754, 'Name': None, 'Count': 455},
 25: {'lat': 45.5356655, 'lon': -122.6897069, 'Name': None, 'Count': 293},
 254: {'lat': 45.5230283, 'lon': -122.6784644, 'Name': None, 'Count': 3010},
 26: {'lat': 45.5590949, 'lon': -122.6682902, 'Name': None, 'Count': 309},
 135: {'lat': 45.55522233,
  'lon': -122.6818612,
  'Name': 'N Prescott at Interstate',
  'Count': 3863},
 27: {'lat': 45.5265471, 'lon': -122.6812493, 'Name': None, 'Count': 370},
 28: {'lat': 45.52358836,
  'lon': -122.6619177,
  'Name': 'NE Couch at MLK',
  'Count': 7572},
 167: {'lat': 45.52374151,
  'lon': -122.6818129,
  'Name': 'NW Couch at 11th',
  'Count': 29201},
 29: {'lat': 45.5279666, 'lon': -122.6813021, 'Name': None, 'Count': 637},
 97: {'lat': 45.53083126,
  'lon': -122.6815957,
  'Name': 'NW Marshall at Tanner Springs Park',
  'Count': 17533},
 30: {'lat': 45.5293888, 'lon': -122.6813526, 'Name': None, 'Count': 2443},
 31: {'lat': 45.5282777,
  'lon': -122.6766282,
  'Name': 'NW Station at Irving',
  'Count': 13654},
 85: {'lat': 45.52634601,
  'lon': -122.6941484,
  'Name': 'NW Glisan at 21st',
  'Count': 15837},
 32: {'lat': 45.52556242,
  'lon': -122.6892561,
  'Name': 'NW 18th at Flanders',
  'Count': 12483},
 33: {'lat': 45.523601, 'lon': -122.6455064, 'Name': None, 'Count': 18},
 177: {'lat': 45.52440674,
  'lon': -122.6497686,
  'Name': 'NE Sandy at 16th',
  'Count': 8033},
 93: {'lat': 45.52297292,
  'lon': -122.6434118,
  'Name': 'NE 22nd at Burnside',
  'Count': 8440},
 35: {'lat': 45.50910258,
  'lon': -122.6735169,
  'Name': 'SW River at Montgomery',
  'Count': 31227},
 158: {'lat': 45.51556831,
  'lon': -122.6738924,
  'Name': 'SW Salmon at Waterfront Park',
  'Count': 46690},
 36: {'lat': 45.5142926, 'lon': -122.6863885, 'Name': None, 'Count': 1786},
 38: {'lat': 45.51544427,
  'lon': -122.6846749,
  'Name': 'SW 10th at Columbia',
  'Count': 9312},
 37: {'lat': 45.5252069, 'lon': -122.6765159, 'Name': None, 'Count': 3834},
 131: {'lat': 45.5033655,
  'lon': -122.6447314,
  'Name': 'SE Clinton at 21st',
  'Count': 10883},
 39: {'lat': 45.5145332, 'lon': -122.678756, 'Name': None, 'Count': 318},
 40: {'lat': 45.52914205,
  'lon': -122.6987028,
  'Name': 'NW Kearney at 23rd',
  'Count': 15438},
 41: {'lat': 45.53142501,
  'lon': -122.6895659,
  'Name': 'NW 18th at Northrup',
  'Count': 14920},
 75: {'lat': 45.52279251,
  'lon': -122.6840124,
  'Name': 'SW Stark at Burnside',
  'Count': 13469},
 42: {'lat': 45.5175854, 'lon': -122.6759187, 'Name': None, 'Count': 2177},
 111: {'lat': 45.522987, 'lon': -122.6811288, 'Name': None, 'Count': 2012},
 43: {'lat': 45.5626816, 'lon': -122.6848305, 'Name': None, 'Count': 109},
 61: {'lat': 45.5645168, 'lon': -122.6875268, 'Name': None, 'Count': 110},
 44: {'lat': 45.51803882,
  'lon': -122.6755822,
  'Name': 'SW 3rd at Morrison',
  'Count': 17783},
 45: {'lat': 45.52536699,
  'lon': -122.6725459,
  'Name': 'NW 2nd at Everett',
  'Count': 18478},
 46: {'lat': 45.5169265, 'lon': -122.6762728, 'Name': None, 'Count': 417},
 47: {'lat': 45.5106886, 'lon': -122.6843287, 'Name': None, 'Count': 1823},
 77: {'lat': 45.53211645,
  'lon': -122.6986304,
  'Name': 'NW 23rd at Overton',
  'Count': 13667},
 48: {'lat': 45.55941042,
  'lon': -122.6685226,
  'Name': 'N Vancouver at Alberta',
  'Count': 4849},
 63: {'lat': 45.52269573,
  'lon': -122.6703492,
  'Name': 'SW Naito at Ankeny Plaza',
  'Count': 28528},
 49: {'lat': 45.51898132,
  'lon': -122.6812685,
  'Name': 'SW Yamhill at Director Park',
  'Count': 18817},
 50: {'lat': 45.5248422, 'lon': -122.6964086, 'Name': None, 'Count': 1528},
 121: {'lat': 45.52579919,
  'lon': -122.6855063,
  'Name': 'NW Flanders at 14th',
  'Count': 19178},
 51: {'lat': 45.5180198, 'lon': -122.6803585, 'Name': None, 'Count': 939},
 99: {'lat': 45.53550403,
  'lon': -122.7006608,
  'Name': 'NW Thurman at 24th',
  'Count': 13363},
 473: {'lat': 45.5252254, 'lon': -122.6755017, 'Name': None, 'Count': 2176},
 65: {'lat': 45.53232501,
  'lon': -122.6824299,
  'Name': 'NW 11th at The Fields',
  'Count': 20063},
 53: {'lat': 45.55907103,
  'lon': -122.6475437,
  'Name': 'NE Alberta at 17th - Community Corral',
  'Count': 2396},
 71: {'lat': 45.5411956, 'lon': -122.6970244, 'Name': None, 'Count': 42},
 54: {'lat': 45.52871176,
  'lon': -122.674166,
  'Name': 'NW Naito at Ironside',
  'Count': 17094},
 55: {'lat': 45.524531, 'lon': -122.6744613, 'Name': None, 'Count': 860},
 56: {'lat': 45.5120818,
  'lon': -122.6533493,
  'Name': 'SE Ladd at Hawthorne',
  'Count': 20866},
 140: {'lat': 45.5120624, 'lon': -122.6276497, 'Name': None, 'Count': 181},
 57: {'lat': 45.523086, 'lon': -122.6754201, 'Name': None, 'Count': 2540},
 1994: {'lat': 45.512903, 'lon': -122.6455729, 'Name': None, 'Count': 22},
 58: {'lat': 45.5238182, 'lon': -122.674435, 'Name': None, 'Count': 939},
 107: {'lat': 45.52142066,
  'lon': -122.6726291,
  'Name': 'SW 2nd at Pine',
  'Count': 21889},
 59: {'lat': 45.49429475,
  'lon': -122.6719048,
  'Name': 'SW Moody at Thomas',
  'Count': 10719},
 60: {'lat': 45.4939765, 'lon': -122.6719911, 'Name': None, 'Count': 168},
 90: {'lat': 45.5797355, 'lon': -122.7165749, 'Name': None, 'Count': 4},
 62: {'lat': 45.5264728, 'lon': -122.685306, 'Name': None, 'Count': 2630},
 117: {'lat': 45.5314984, 'lon': -122.6566013, 'Name': None, 'Count': 1044},
 64: {'lat': 45.50468892,
  'lon': -122.6345551,
  'Name': 'SE 30th at Division',
  'Count': 9271},
 88: {'lat': 45.4889978, 'lon': -122.6524101, 'Name': None, 'Count': 52},
 66: {'lat': 45.5299294, 'lon': -122.6753219, 'Name': None, 'Count': 2642},
 67: {'lat': 45.51636144,
  'lon': -122.6460457,
  'Name': 'SE Belmont at 20th',
  'Count': 6308},
 68: {'lat': 45.5164686, 'lon': -122.6455714, 'Name': None, 'Count': 248},
 70: {'lat': 45.52862062,
  'lon': -122.6905073,
  'Name': 'NW 19th at Johnson',
  'Count': 14395},
 72: {'lat': 45.5251214, 'lon': -122.6811966, 'Name': None, 'Count': 427},
 110: {'lat': 45.53508224,
  'lon': -122.6505639,
  'Name': 'NE 15th at Broadway',
  'Count': 9749},
 73: {'lat': 45.5129442, 'lon': -122.657744, 'Name': None, 'Count': 804},
 74: {'lat': 45.52500056,
  'lon': -122.6811048,
  'Name': 'NW 10th at Everett',
  'Count': 12691},
 89: {'lat': 45.5343597, 'lon': -122.663693, 'Name': None, 'Count': 281},
 76: {'lat': 45.53146071,
  'lon': -122.659741,
  'Name': 'NE Multnomah at Grand',
  'Count': 4860},
 82: {'lat': 45.53496857,
  'lon': -122.653631,
  'Name': 'NE Broadway at 12th',
  'Count': 6196},
 624: {'lat': 45.5202589, 'lon': -122.6744682, 'Name': None, 'Count': 1317},
 145: {'lat': 45.51515295,
  'lon': -122.665776,
  'Name': 'SE Water at Taylor',
  'Count': 13830},
 79: {'lat': 45.53086696,
  'lon': -122.6658887,
  'Name': 'NE Wheeler at Multnomah',
  'Count': 11169},
 80: {'lat': 45.5307576, 'lon': -122.6662351, 'Name': None, 'Count': 368},
 81: {'lat': 45.5186858, 'lon': -122.6799961, 'Name': None, 'Count': 2285},
 83: {'lat': 45.51889487,
  'lon': -122.6774061,
  'Name': 'SW 5th at Morrison',
  'Count': 22017},
 96: {'lat': 45.5048638, 'lon': -122.6547574, 'Name': None, 'Count': 915},
 495: {'lat': 45.5244572, 'lon': -122.670218, 'Name': None, 'Count': 1216},
 86: {'lat': 45.54998583,
  'lon': -122.6756573,
  'Name': 'N Mississippi at Beech',
  'Count': 12010},
 104: {'lat': 45.54179953,
  'lon': -122.6614845,
  'Name': 'NE MLK at Knott',
  'Count': 10912},
 101: {'lat': 45.522513, 'lon': -122.6702589, 'Name': None, 'Count': 3590},
 106: {'lat': 45.5251399, 'lon': -122.6801824, 'Name': None, 'Count': 1993},
 344: {'lat': 45.56197102,
  'lon': -122.6820369,
  'Name': 'N Interstate at Willamette - Community Corral',
  'Count': 898},
 91: {'lat': 45.5315321, 'lon': -122.6814345, 'Name': None, 'Count': 2084},
 194: {'lat': 45.5370647, 'lon': -122.6870447, 'Name': None, 'Count': 889},
 92: {'lat': 45.5072427, 'lon': -122.658757, 'Name': None, 'Count': 74},
 94: {'lat': 45.5343706, 'lon': -122.6667376, 'Name': None, 'Count': 696},
 95: {'lat': 45.52826831,
  'lon': -122.6945615,
  'Name': 'NW 21st at Johnson',
  'Count': 10768},
 163: {'lat': 45.5178988,
  'lon': -122.6600522,
  'Name': 'SE Alder at 6th',
  'Count': 10575},
 98: {'lat': 45.5315127, 'lon': -122.6824564, 'Name': None, 'Count': 1560},
 102: {'lat': 45.55335313,
  'lon': -122.6669146,
  'Name': 'N Mason at Williams',
  'Count': 7243},
 144: {'lat': 45.5475928,
  'lon': -122.6667604,
  'Name': 'N Williams at Fremont',
  'Count': 13126},
 103: {'lat': 45.5314262, 'lon': -122.6875304, 'Name': None, 'Count': 195},
 105: {'lat': 45.5239044, 'lon': -122.6702935, 'Name': None, 'Count': 1073},
 602: {'lat': 45.5260135, 'lon': -122.670676, 'Name': None, 'Count': 165},
 112: {'lat': 45.5252863, 'lon': -122.6724697, 'Name': None, 'Count': 1994},
 108: {'lat': 45.5209254, 'lon': -122.6741073, 'Name': None, 'Count': 1390},
 120: {'lat': 45.5231234, 'lon': -122.6713456, 'Name': None, 'Count': 2921},
 109: {'lat': 45.51184309,
  'lon': -122.68372,
  'Name': 'SW Broadway at Smith Memorial Student Union',
  'Count': 13891},
 128: {'lat': 45.5193484, 'lon': -122.653644, 'Name': None, 'Count': 1399},
 113: {'lat': 45.5048393,
  'lon': -122.6296306,
  'Name': 'SE 34th at Division',
  'Count': 9791},
 157: {'lat': 45.5088042, 'lon': -122.6655893, 'Name': None, 'Count': 1772},
 114: {'lat': 45.5258352, 'lon': -122.6706897, 'Name': None, 'Count': 44},
 115: {'lat': 45.5024783, 'lon': -122.6723477, 'Name': None, 'Count': 834},
 116: {'lat': 45.51782551,
  'lon': -122.6724963,
  'Name': 'SW Naito at Morrison',
  'Count': 22127},
 173: {'lat': 45.5165284, 'lon': -122.6607669, 'Name': None, 'Count': 103},
 118: {'lat': 45.55913676,
  'lon': -122.6554307,
  'Name': 'NE Alberta at 10th - Community Corral',
  'Count': 1849},
 119: {'lat': 45.51816567,
  'lon': -122.6924908,
  'Name': 'SW 18th at Jefferson',
  'Count': 10989},
 130: {'lat': 45.5264914, 'lon': -122.6842918, 'Name': None, 'Count': 5284},
 199: {'lat': 45.5240259, 'lon': -122.6505684, 'Name': None, 'Count': 142},
 122: {'lat': 45.511907,
  'lon': -122.6294804,
  'Name': 'SE 34th at Hawthorne',
  'Count': 10311},
 143: {'lat': 45.5237627, 'lon': -122.6774774, 'Name': None, 'Count': 1108},
 123: {'lat': 45.5084709, 'lon': -122.6441425, 'Name': None, 'Count': 10},
 359: {'lat': 45.5172159, 'lon': -122.655687, 'Name': None, 'Count': 684},
 125: {'lat': 45.56274555,
  'lon': -122.6480594,
  'Name': 'NE 17th at Killingsworth - Community Corral',
  'Count': 1666},
 236: {'lat': 45.56453067,
  'lon': -122.6305372,
  'Name': 'NE 33rd at Jarrett (Kennedy School) - Community Corral',
  'Count': 1467},
 126: {'lat': 45.51186486,
  'lon': -122.6210475,
  'Name': 'SE 40th at Hawthorne',
  'Count': 5389},
 940: {'lat': 45.5284672, 'lon': -122.656532, 'Name': None, 'Count': 339},
 189: {'lat': 45.51158277,
  'lon': -122.682281,
  'Name': 'Urban Center Plaza at SW 6th St',
  'Count': 7851},
 181: {'lat': 45.51147657,
  'lon': -122.6662856,
  'Name': 'SE Clay at Water',
  'Count': 17853},
 325: {'lat': 45.5590672, 'lon': -122.6419218, 'Name': None, 'Count': 130},
 129: {'lat': 45.5193552, 'lon': -122.6556728, 'Name': None, 'Count': 262},
 139: {'lat': 45.5257661, 'lon': -122.6536009, 'Name': None, 'Count': 197},
 629: {'lat': 45.5198656, 'lon': -122.6758501, 'Name': None, 'Count': 774},
 133: {'lat': 45.52649493,
  'lon': -122.6416328,
  'Name': 'NE Glisan at 24th',
  'Count': 6970},
 147: {'lat': 45.5255177, 'lon': -122.6984635, 'Name': None, 'Count': 183},
 154: {'lat': 45.51844688,
  'lon': -122.651685,
  'Name': 'SE 14th at Stark',
  'Count': 9704},
 132: {'lat': 45.5191991, 'lon': -122.6762108, 'Name': None, 'Count': 1391},
 134: {'lat': 45.53140997,
  'lon': -122.6574612,
  'Name': 'NE Multnomah at 9th',
  'Count': 10566},
 136: {'lat': 45.5231391, 'lon': -122.6723799, 'Name': None, 'Count': 4040},
 265: {'lat': 45.5314628, 'lon': -122.685491, 'Name': None, 'Count': 3166},
 137: {'lat': 45.5290819, 'lon': -122.6985965, 'Name': None, 'Count': 871},
 138: {'lat': 45.55458563,
  'lon': -122.6755413,
  'Name': 'N Mississippi at N Skidmore',
  'Count': 6447},
 168: {'lat': 45.5027677,
  'lon': -122.6714408,
  'Name': 'Tilikum West at SW Moody',
  'Count': 20496},
 156: {'lat': 45.5379577, 'lon': -122.6886206, 'Name': None, 'Count': 579},
 166: {'lat': 45.5300616, 'lon': -122.6844243, 'Name': None, 'Count': 5329},
 141: {'lat': 45.5120789, 'lon': -122.6381592, 'Name': None, 'Count': 179},
 2062: {'lat': 45.5186777, 'lon': -122.6657908, 'Name': None, 'Count': 77},
 151: {'lat': 45.5230046, 'lon': -122.6801058, 'Name': None, 'Count': 1347},
 142: {'lat': 45.5193586, 'lon': -122.6566872, 'Name': None, 'Count': 940},
 148: {'lat': 45.5236962, 'lon': -122.6811554, 'Name': None, 'Count': 913},
 149: {'lat': 45.5256856, 'lon': -122.6893362, 'Name': None, 'Count': 470},
 150: {'lat': 45.50624163,
  'lon': -122.6633379,
  'Name': 'SE 2nd Pl at Tilikum Way',
  'Count': 19468},
 152: {'lat': 45.5308296, 'lon': -122.6814121, 'Name': None, 'Count': 549},
 153: {'lat': 45.5175793, 'lon': -122.6725072, 'Name': None, 'Count': 716},
 170: {'lat': 45.51936283,
  'lon': -122.6359928,
  'Name': 'SE 29th at Stark',
  'Count': 3532},
 155: {'lat': 45.5388948, 'lon': -122.6901714, 'Name': None, 'Count': 1564},
 159: {'lat': 45.5205931,
  'lon': -122.637238,
  'Name': 'SE 28th at Pine - Community Corral',
  'Count': 2422},
 160: {'lat': 45.55645437,
  'lon': -122.6603794,
  'Name': 'NE Going at Grand',
  'Count': 6783},
 161: {'lat': 45.5160179, 'lon': -122.6842822, 'Name': None, 'Count': 1661},
 162: {'lat': 45.5555064, 'lon': -122.6605467, 'Name': None, 'Count': 196},
 164: {'lat': 45.5136673, 'lon': -122.6607821, 'Name': None, 'Count': 771},
 165: {'lat': 45.5287476, 'lon': -122.6776586, 'Name': None, 'Count': 279},
 171: {'lat': 45.5229504, 'lon': -122.6831526, 'Name': None, 'Count': 2990},
 202: {'lat': 45.5230674, 'lon': -122.6764857, 'Name': None, 'Count': 1978},
 169: {'lat': 45.5236794, 'lon': -122.6821551, 'Name': None, 'Count': 1287},
 172: {'lat': 45.5644626, 'lon': -122.6306698, 'Name': None, 'Count': 105},
 174: {'lat': 45.5229602, 'lon': -122.6627544, 'Name': None, 'Count': 1448},
 343: {'lat': 45.519382, 'lon': -122.6637877, 'Name': None, 'Count': 4282},
 178: {'lat': 45.5350668, 'lon': -122.6575995, 'Name': None, 'Count': 633},
 176: {'lat': 45.5129509, 'lon': -122.6597725, 'Name': None, 'Count': 2210},
 196: {'lat': 45.5120427, 'lon': -122.6182826, 'Name': None, 'Count': 222},
 179: {'lat': 45.51507401,
  'lon': -122.6870298,
  'Name': 'SW 12th at Clay',
  'Count': 5940},
 397: {'lat': 45.5193653, 'lon': -122.6586964, 'Name': None, 'Count': 138},
 192: {'lat': 45.5120745, 'lon': -122.6337819, 'Name': None, 'Count': 184},
 281: {'lat': 45.52771962,
  'lon': -122.6603526,
  'Name': 'Metro Campus - Community Corral',
  'Count': 1997},
 182: {'lat': 45.5115447, 'lon': -122.6658674, 'Name': None, 'Count': 420},
 183: {'lat': 45.53290424,
  'lon': -122.68626,
  'Name': 'NW Pettygrove at 15th',
  'Count': 12914},
 184: {'lat': 45.5533235, 'lon': -122.6667569, 'Name': None, 'Count': 267},
 185: {'lat': 45.5218947, 'lon': -122.6834357, 'Name': None, 'Count': 1048},
 186: {'lat': 45.5152281, 'lon': -122.6870389, 'Name': None, 'Count': 200},
 187: {'lat': 45.54471503,
  'lon': -122.6667845,
  'Name': 'N Morris at Williams',
  'Count': 5522},
 188: {'lat': 45.5347847, 'lon': -122.6988093, 'Name': None, 'Count': 630},
 190: {'lat': 45.55908767,
  'lon': -122.6407517,
  'Name': 'NE Alberta at 24th - Community Corral',
  'Count': 1117},
 191: {'lat': 45.5627419,
  'lon': -122.6889932,
  'Name': 'N Killingsworth at Gay - Community Corral',
  'Count': 868},
 200: {'lat': 45.5128821, 'lon': -122.6229264, 'Name': None, 'Count': 746},
 193: {'lat': 45.5197472, 'lon': -122.6782504, 'Name': None, 'Count': 1684},
 195: {'lat': 45.5229341, 'lon': -122.6597069, 'Name': None, 'Count': 1361},
 197: {'lat': 45.5546279, 'lon': -122.6755257, 'Name': None, 'Count': 2054},
 198: {'lat': 45.518278, 'lon': -122.6813236, 'Name': None, 'Count': 1398},
 227: {'lat': 45.52990305,

In [155]:
df_for_export[(df_for_export['StartID'].isin(nodes_df[nodes_df['Count'] > 100].index)) & (
    df_for_export['EndID'].isin(nodes_df[nodes_df['Count'] > 100].index))]

,StartDate,EndDate,BikeID,DistanceMiles,Duration,StartID,EndID
0,2017-10-01T00:05:00,2017-10-01T00:18:00,6563,1.51,784,0,50
1,2017-10-01T00:17:00,2017-10-01T00:22:00,6273,0.78,311,1,5
2,2017-10-01T00:18:00,2017-10-01T00:22:00,7280,0.43,238,2,77
3,2017-10-01T00:21:00,2017-10-01T00:33:00,6274,1.02,690,3,4
4,2017-10-01T00:22:00,2017-10-01T00:36:00,7112,0.93,820,4,118
...,...,...,...,...,...,...,...
1034816,2017-09-30T23:49:00,2017-09-30T23:53:00,7257,0.61,242,0,91
1034817,2017-09-30T23:50:00,2017-09-30T23:58:00,7385,0.75,448,142,21
1034818,2017-09-30T23:52:00,2017-10-01T00:03:00,6583,1.25,701,251,12
1034819,2017-09-30T23:52:00,2017-09-30T23:58:00,6402,0.81,354,19,9
1034820,2017-09-30T23:53:00,2017-09-30T23:58:00,7312,0.59,313,20,31

In [93]:
df_for_export.sample(20).to_clipboard()

In [13]:
df.groupby("StartID").filter(lambda x: x['RouteID'].count() > 100).groupby("StartID").count()

,RouteID,PaymentPlan,StartHub,StartLatitude,StartLongitude,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,EndDate,EndTime,TripType,BikeID,BikeName,DistanceMiles,Duration,RentalAccessPath,MultipleRental,EndID
StartID,,,,,,,,,,,,,,,,,,,,
45.4642942##-122.6638457,143,143,0,143,143,143,143,96,143,143,143,143,0,143,143,143,141,143,143,143
45.4643284##-122.6530114,131,131,0,131,131,131,131,93,131,131,131,131,0,131,131,131,131,131,131,131
45.4913187##-122.6486511,197,197,0,197,197,197,197,118,197,197,197,197,0,197,196,197,197,197,197,197
45.493337##-122.623397,254,254,254,254,254,254,254,174,254,254,254,254,0,254,253,254,254,254,254,254
45.493341##-122.635762,335,335,335,335,335,335,335,238,335,335,335,335,0,335,334,335,335,335,335,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45.56274555##-122.6480594,897,897,897,897,897,897,897,660,897,897,897,897,2,897,897,897,893,897,897,897
45.56282546##-122.6747467,3480,3480,3480,3480,3480,3480,3480,2579,3480,3480,3479,3479,4,3480,3479,3480,3465,3480,3480,3480
45.5644626##-122.6306698,125,125,0,125,125,125,125,95,125,125,125,125,1,125,124,125,125,125,125,125
45.56453067##-122.6305372,731,731,731,731,731,731,731,534,731,731,731,731,4,731,731,731,731,731,731,731
45.5663516##-122.6604092,105,105,0,105,105,105,105,47,105,105,105,105,0,105,104,105,105,105,105,105

                   StartDate  BikeID  DistanceMiles  Duration  StartID  EndID
0        2017-10-01T00:05:00    6563           1.51       784        0     50
1        2017-10-01T00:17:00    6273           0.78       311        1      5
2        2017-10-01T00:18:00    7280           0.43       238        2     77
3        2017-10-01T00:21:00    6274           1.02       690        3      4
4        2017-10-01T00:22:00    7112           0.93       820        4    118
...                      ...     ...            ...       ...      ...    ...
1034816  2017-09-30T23:49:00    7257           0.61       242        0     91
1034817  2017-09-30T23:50:00    7385           0.75       448      142     21
1034818  2017-09-30T23:52:00    6583           1.25       701      251     12
1034819  2017-09-30T23:52:00    6402           0.81       354       19      9
1034820  2017-09-30T23:53:00    7312           0.59       313       20     31

[1023380 rows x 6 columns]

In [88]:
combined_df.groupby(['BikeID','BikeName']).count()

                               RouteID  PaymentPlan  StartHub  StartLatitude  \
BikeID  BikeName
5986.0  0549 biketown             1180         1180       889           1093
        0549 pbot xm biketown        4            4         4              4
5987.0  0487 biketown             1250         1250       836           1130
        0487 mss biketown            9            9         9              9
5988.0  0696 biketown             1338         1338       960           1170
...                                ...          ...       ...            ...
34802.0 service controller 4         1            1         0              1
35477.0 0315 biketown              113          113        88            113
        0315 mss biketown            1            1         1              1
35537.0 0881 biketown               82           82        49             82
        0881 xc biketown             4            4         2              4

                               StartLongitude  StartDate  StartTime  EndHub  \
BikeID  BikeName
5986.0  0549 biketown                    1093       1180       1180     900
        0549 pbot xm biketown               4          4          4       4
5987.0  0487 biketown                    1130       1250       1250     891
        0487 mss biketown                   9          9          9       8
5988.0  0696 biketown                    1170       1338       1338     979
...                                       ...        ...        ...     ...
34802.0 service controller 4                1          1          1       0
35477.0 0315 biketown                     113        113        113      76
        0315 mss biketown                   1          1          1       0
35537.0 0881 biketown                      82         82         82      46
        0881 xc biketown                    4          4          4       0

                               EndLatitude  EndLongitude  ...  TripType  \
BikeID  BikeName                                          ...
5986.0  0549 biketown                 1093          1093  ...         2
        0549 pbot xm biketown            4             4  ...         0
5987.0  0487 biketown                 1130          1130  ...         1
        0487 mss biketown                9             9  ...         0
5988.0  0696 biketown                 1170          1170  ...         2
...                                    ...           ...  ...       ...
34802.0 service controller 4             1             1  ...         0
35477.0 0315 biketown                  113           113  ...         0
        0315 mss biketown                1             1  ...         0
35537.0 0881 biketown                   82            82  ...         0
        0881 xc biketown                 4             4  ...         1

                               Distance_Miles  Duration  RentalAccessPath  \
BikeID  BikeName
5986.0  0549 biketown                    1048      1177              1180
        0549 pbot xm biketown               0         4                 4
5987.0  0487 biketown                    1075      1239              1250
        0487 mss biketown                   0         9                 9
5988.0  0696 biketown                    1115      1337              1338
...                                       ...       ...               ...
34802.0 service controller 4                1         1                 1
35477.0 0315 biketown                      13       113               113
        0315 mss biketown                   1         1                 1
35537.0 0881 biketown                      32        82                82
        0881 xc biketown                    0         4                 4

                               MultipleRental  Start_Latitude  \
BikeID  BikeName
5986.0  0549 biketown                    1180              87
        0549 pbot xm biketown               4               0
5987.0  0487 biketown                    1250             120
        0487 mss biketown                   9               0
5988.0  0696 biketown                    1338             168
...                                       ...             ...
34802.0 service controller 4                1               0
35477.0 0315 biketown                     113               0
        0315 mss biketown                   1               0
35537.0 0881 biketown                      82               0
        0881 xc biketown                    4               0

                               Start_Longitude  End_Latitude  End_Longitude  \
BikeID  BikeName
5986.0  0549 biketown                       87            87             87
        0549 pbot xm biketown                0             0              0
5987.0  0487 biketown                      120           120            120
        0487 mss biketown                    0             0              0
5988.0  0696 biketown                      168           168            168
...                                        ...           ...            ...
34802.0 service controller 4                 0             0              0
35477.0 0315 biketown                        0             0              0
        0315 mss biketown                    0             0              0
35537.0 0881 biketown                        0             0              0
        0881 xc biketown                     0             0              0

                               Distance_Miles_
BikeID  BikeName
5986.0  0549 biketown                      132
        0549 pbot xm biketown                4
5987.0  0487 biketown                      175
        0487 mss biketown                    9
5988.0  0696 biketown                      223
...                                        ...
34802.0 service controller 4                 0
35477.0 0315 biketown                      100
        0315 mss biketown                    0
35537.0 0881 biketown                       50
        0881 xc biketown                     4

[2311 rows x 22 columns]

In [88]:
combined_df.groupby(['BikeID','BikeName']).count()

                               RouteID  PaymentPlan  StartHub  StartLatitude  \
BikeID  BikeName
5986.0  0549 biketown             1180         1180       889           1093
        0549 pbot xm biketown        4            4         4              4
5987.0  0487 biketown             1250         1250       836           1130
        0487 mss biketown            9            9         9              9
5988.0  0696 biketown             1338         1338       960           1170
...                                ...          ...       ...            ...
34802.0 service controller 4         1            1         0              1
35477.0 0315 biketown              113          113        88            113
        0315 mss biketown            1            1         1              1
35537.0 0881 biketown               82           82        49             82
        0881 xc biketown             4            4         2              4

                               StartLongitude  StartDate  StartTime  EndHub  \
BikeID  BikeName
5986.0  0549 biketown                    1093       1180       1180     900
        0549 pbot xm biketown               4          4          4       4
5987.0  0487 biketown                    1130       1250       1250     891
        0487 mss biketown                   9          9          9       8
5988.0  0696 biketown                    1170       1338       1338     979
...                                       ...        ...        ...     ...
34802.0 service controller 4                1          1          1       0
35477.0 0315 biketown                     113        113        113      76
        0315 mss biketown                   1          1          1       0
35537.0 0881 biketown                      82         82         82      46
        0881 xc biketown                    4          4          4       0

                               EndLatitude  EndLongitude  ...  TripType  \
BikeID  BikeName                                          ...
5986.0  0549 biketown                 1093          1093  ...         2
        0549 pbot xm biketown            4             4  ...         0
5987.0  0487 biketown                 1130          1130  ...         1
        0487 mss biketown                9             9  ...         0
5988.0  0696 biketown                 1170          1170  ...         2
...                                    ...           ...  ...       ...
34802.0 service controller 4             1             1  ...         0
35477.0 0315 biketown                  113           113  ...         0
        0315 mss biketown                1             1  ...         0
35537.0 0881 biketown                   82            82  ...         0
        0881 xc biketown                 4             4  ...         1

                               Distance_Miles  Duration  RentalAccessPath  \
BikeID  BikeName
5986.0  0549 biketown                    1048      1177              1180
        0549 pbot xm biketown               0         4                 4
5987.0  0487 biketown                    1075      1239              1250
        0487 mss biketown                   0         9                 9
5988.0  0696 biketown                    1115      1337              1338
...                                       ...       ...               ...
34802.0 service controller 4                1         1                 1
35477.0 0315 biketown                      13       113               113
        0315 mss biketown                   1         1                 1
35537.0 0881 biketown                      32        82                82
        0881 xc biketown                    0         4                 4

                               MultipleRental  Start_Latitude  \
BikeID  BikeName
5986.0  0549 biketown                    1180              87
        0549 pbot xm biketown               4               0
5987.0  0487 biketown                    1250             120
        0487 mss biketown                   9               0
5988.0  0696 biketown                    1338             168
...                                       ...             ...
34802.0 service controller 4                1               0
35477.0 0315 biketown                     113               0
        0315 mss biketown                   1               0
35537.0 0881 biketown                      82               0
        0881 xc biketown                    4               0

                               Start_Longitude  End_Latitude  End_Longitude  \
BikeID  BikeName
5986.0  0549 biketown                       87            87             87
        0549 pbot xm biketown                0             0              0
5987.0  0487 biketown                      120           120            120
        0487 mss biketown                    0             0              0
5988.0  0696 biketown                      168           168            168
...                                        ...           ...            ...
34802.0 service controller 4                 0             0              0
35477.0 0315 biketown                        0             0              0
        0315 mss biketown                    0             0              0
35537.0 0881 biketown                        0             0              0
        0881 xc biketown                     0             0              0

                               Distance_Miles_
BikeID  BikeName
5986.0  0549 biketown                      132
        0549 pbot xm biketown                4
5987.0  0487 biketown                      175
        0487 mss biketown                    9
5988.0  0696 biketown                      223
...                                        ...
34802.0 service controller 4                 0
35477.0 0315 biketown                      100
        0315 mss biketown                    0
35537.0 0881 biketown                       50
        0881 xc biketown                     4

[2311 rows x 22 columns]

In [97]:
combined_df[combined_df['BikeName'] == "0657 biketown"]

,RouteID,PaymentPlan,StartHub,StartLatitude,StartLongitude,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,...,BikeName,Distance_Miles,Duration,RentalAccessPath,MultipleRental,Start_Latitude,Start_Longitude,End_Latitude,End_Longitude,Distance_Miles_
3407,4742287.0,Subscriber,SE Taylor at Chavez,45.514975,-122.623157,10/5/2017,11:27,NaN,45.512882,-122.622926,...,0657 biketown,0.20,0:06:06,keypad,False,NaN,NaN,NaN,NaN,NaN
3439,4742643.0,Subscriber,NaN,45.512882,-122.622926,10/5/2017,11:52,NaN,45.516457,-122.629573,...,0657 biketown,0.53,0:08:28,keypad,False,NaN,NaN,NaN,NaN,NaN
3454,4742787.0,Subscriber,NaN,45.516457,-122.629573,10/5/2017,12:04,NaN,45.516581,-122.621751,...,0657 biketown,0.46,1:14:05,keypad,False,NaN,NaN,NaN,NaN,NaN
8896,4802039.0,Subscriber,NaN,45.516581,-122.621751,10/10/2017,17:30,SE Taylor at Chavez,45.514975,-122.623157,...,0657 biketown,0.13,0:02:34,keypad,False,NaN,NaN,NaN,NaN,NaN
9604,4814953.0,Subscriber,SE Taylor at Chavez,45.514975,-122.623157,10/11/2017,20:33,NaN,45.512049,-122.622839,...,0657 biketown,0.22,0:03:29,keypad,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287150,4599411.0,Casual,SW 5th at Morrison,45.518895,-122.677406,9/24/2017,14:27,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,2.38,0:57:32,keypad,False,NaN,NaN,NaN,NaN,NaN
1287693,4602409.0,Casual,SW Salmon at Waterfront Park,45.515568,-122.673892,9/24/2017,19:34,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,1.54,0:24:17,keypad,False,NaN,NaN,NaN,NaN,NaN
1287761,4602701.0,Casual,SW Salmon at Waterfront Park,45.515568,-122.673892,9/24/2017,20:31,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,6.58,1:23:05,keypad,False,NaN,NaN,NaN,NaN,NaN
1288697,4617651.0,Subscriber,SW River at Montgomery,45.509103,-122.673517,9/25/2017,23:17,SW 3rd at Morrison,45.518039,-122.675582,...,0657 biketown,0.88,0:27:12,keypad,False,NaN,NaN,NaN,NaN,NaN
1293546,4684012.0,Casual,SW 3rd at Morrison,45.518039,-122.675582,9/30/2017,17:07,SE 9th at Belmont,45.516333,-122.656632,...,0657 biketown,1.52,0:11:36,keypad,False,NaN,NaN,NaN,NaN,NaN

In [96]:
combined_df.groupby(['BikeName'])['BikeID'].nunique()

BikeName
0001 biketown       1
0001 xm biketown    1
0002 biketown       1
0003 biketown       1
0003 xm biketown    1
                   ..
xc 0424 biketown    1
xc 0603 biketown    1
xc 0610 biketown    1
xc 0655 biketown    1
xm 0683 biketown    1
Name: BikeID, Length: 2298, dtype: int64

In [95]:
combined_df.groupby(['BikeID'])['BikeName'].nunique()

BikeID
5986.0     2
5987.0     2
5988.0     3
5989.0     2
5990.0     1
          ..
30041.0    2
33605.0    1
34802.0    1
35477.0    2
35537.0    2
Name: BikeName, Length: 1044, dtype: int64

In [68]:
combined_df[combined_df['BikeName'].astype(str) == "0006 biketown"]

Empty DataFrame
Columns: [RouteID, PaymentPlan, StartHub, StartLatitude, StartLongitude, StartDate, StartTime, EndHub, EndLatitude, EndLongitude, EndDate, EndTime, TripType, BikeID, BikeName, Distance_Miles, Duration, RentalAccessPath, MultipleRental, Start_Latitude, Start_Longitude, End_Latitude, End_Longitude, Distance_Miles_]
Index: []

[0 rows x 24 columns]

In [84]:
combined_df['BikeName'].str.lower().str.strip() == "0006 biketown"

0          False
1          False
2          False
3          False
4          False
           ...
1294442    False
1294443    False
1294444    False
1294445    False
1294446    False
Name: BikeName, Length: 1294447, dtype: bool

In [130]:
unique_strings = set()

for string in combined_df['BikeName']:
    for substr in str(string).split(" "):
        try:
            int(substr)
        except ValueError:
            unique_strings.add(substr)

In [131]:
unique_strings

{'',
 '(bike',
 '(lost',
 '(new)',
 '(quarantine-do',
 '-',
 '--',
 '-quarantine',
 '0253mss',
 '50th',
 'ability',
 'air',
 'aix',
 'alter',
 'american',
 'ascend',
 'at',
 'betrue',
 'bike',
 'bike,',
 'biketown',
 'biketown,',
 'black',
 'blazers',
 'broken',
 'bunyan',
 'but',
 'challenge',
 'city',
 'colorful',
 'controller',
 'custody',
 'cycling',
 'damaged)',
 'design',
 "explorin'",
 'explorinâ€™',
 'explorin’',
 'explorin‰ûª',
 'for',
 'found',
 'hbo',
 'heritage',
 'history',
 'hq',
 'in',
 'latinx',
 'lck',
 'life',
 'lightbike',
 'likely',
 'lost',
 'lst',
 'max',
 'month',
 'mss',
 'n',
 'nan',
 'native',
 'ne',
 'nike',
 'not',
 'nw',
 'on',
 'out',
 'parts',
 'paul',
 'pbot',
 'pdx',
 'police',
 'portland',
 'possible',
 'prt',
 'qrt',
 'quarantine',
 'recon',
 'reconnw',
 'rewrap',
 'rfs',
 'rider',
 'rip',
 'rma',
 'rmad',
 'rvr',
 'safari',
 'se',
 'service',
 'shop',
 'sneaker',
 'stl',
 'stl/lck',
 'stolen',
 'stolen)',
 'sw',
 'trainer',
 'veterans',
 'waiting',
 'wanderer',
 'waterfront',
 "women's",
 'womenâ€™s',
 'women’s',
 'wrap',
 'wrapped',
 'xc',
 'xc/',
 'xcm',
 'xm',
 'xmnative'}