In [1]:
import pandas as pd
import re

In [2]:
data = pd.read_csv('events-US-1980-2024.csv', skiprows=1)

In [3]:
data

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths
0,Southern Severe Storms and Flooding (April 1980),Flooding,19800410,19800417,2707.0,7
1,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2200.8,13
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,19800601,19801130,39979.8,1260
3,Florida Freeze (January 1981),Freeze,19810112,19810114,2042.0,0
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,19810505,19810510,1389.0,20
...,...,...,...,...,...,...
373,Southern Hail Storms (September 2023),Severe Storm,20230923,20230924,1677.9,0
374,Southern/Midwestern Drought and Heatwave (Spri...,Drought,20230401,20230930,14645.2,247
375,East Coast Storm and Flooding (December 2023),Flooding,20231216,20231218,1289.0,5
376,Southern Tornado Outbreak and East Coast Storm...,Severe Storm,20240108,20240110,1764.7,3
377,Central and Southern Severe Weather (March 2024),Severe Storm,20240313,20240315,4092.0,3

In [4]:
def extract_month_year(name):
    season_to_month = {
        'Winter': 'January', 'Spring': 'April', 'Summer': 'July', 'Fall': 'October',
        'Winter-Spring': 'March', 'Spring-Summer': 'June', 'Summer-Fall': 'August', 
        'Fall-Winter': 'November', 'Spring-Fall':'July', 'January-March' : 'February',
        'Mid-January' : 'January', 'April-May' : 'April', 'May-June' : ' May', 
        'June-July' : 'June'
        
    }
    # Regular expression to find month and year or season and year
    pattern = r"\((\w+(?:-\w+)?)\s(\d{4})\)"
    match = re.search(pattern, name)
    if match:
        season_year, year = match.group(1), match.group(2)
        # Check if the entry is a season or specific month
        if season_year in season_to_month:
            return season_to_month[season_year], year
        else:
            return season_year, year
    return None, None

In [5]:
data['Month'], data['Year'] = zip(*data['Name'].apply(extract_month_year))

In [6]:
data['Begin Date'] = pd.to_datetime(data['Begin Date'], format='%Y%m%d')
data['End Date'] = pd.to_datetime(data['End Date'], format='%Y%m%d')

In [7]:
data['Date'] = data['Begin Date'] + (data['End Date'] - data['Begin Date']) / 2

In [8]:
data['Date'] = data['Date'].dt.strftime('%Y-%m-%d')

In [9]:
data['Total CPI-Adjusted Cost (Billions of Dollars)'] = data['Total CPI-Adjusted Cost (Millions of Dollars)'] / 1000

In [10]:
data['Name'] = data['Name'].str.replace(r'\s*\([^)]*\)', '', regex=True)

In [11]:
data

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,Month,Year,Date,Total CPI-Adjusted Cost (Billions of Dollars)
0,Southern Severe Storms and Flooding,Flooding,1980-04-10,1980-04-17,2707.0,7,April,1980,1980-04-13,2.7070
1,Hurricane Allen,Tropical Cyclone,1980-08-07,1980-08-11,2200.8,13,August,1980,1980-08-09,2.2008
2,Central/Eastern Drought/Heat Wave,Drought,1980-06-01,1980-11-30,39979.8,1260,August,1980,1980-08-31,39.9798
3,Florida Freeze,Freeze,1981-01-12,1981-01-14,2042.0,0,January,1981,1981-01-13,2.0420
4,"Severe Storms, Flash Floods, Hail, Tornadoes",Severe Storm,1981-05-05,1981-05-10,1389.0,20,May,1981,1981-05-07,1.3890
...,...,...,...,...,...,...,...,...,...,...
373,Southern Hail Storms,Severe Storm,2023-09-23,2023-09-24,1677.9,0,September,2023,2023-09-23,1.6779
374,Southern/Midwestern Drought and Heatwave,Drought,2023-04-01,2023-09-30,14645.2,247,July,2023,2023-07-01,14.6452
375,East Coast Storm and Flooding,Flooding,2023-12-16,2023-12-18,1289.0,5,December,2023,2023-12-17,1.2890
376,Southern Tornado Outbreak and East Coast Storm,Severe Storm,2024-01-08,2024-01-10,1764.7,3,January,2024,2024-01-09,1.7647
377,Central and Southern Severe Weather,Severe Storm,2024-03-13,2024-03-15,4092.0,3,March,2024,2024-03-14,4.0920

In [14]:
column_values = data['Total CPI-Adjusted Cost (Billions of Dollars)'].values

print(column_values)

[  2.707    2.2008  39.9798   2.042    1.389    2.178    1.5794   1.5549
   4.8693   4.7537   9.3      9.396    1.232    6.3592   1.8215   1.3341
   2.4604   3.528    1.728    3.7236   2.457    4.2656   3.99     1.5046
   5.1044   1.128   53.6103   1.3842   1.4625  22.3198   7.6882   5.12
   1.6732   2.4166   1.9517   1.6874   8.296    1.4835   3.4116   6.9497
   7.458    1.7937   2.1188   1.6531  59.4      6.82     1.439    5.4379
  11.9936   1.3846  45.6948   2.7424   2.935    2.2047   6.3545   2.0786
   2.0869   2.08     1.5225   5.15     1.173   11.1924   1.7255   4.263
   1.9979   9.4718   6.036    2.0267   3.6009   9.8638   1.3318   5.8832
   1.8966   7.1325   2.6914   1.9289   3.1157   2.1742   1.6986   1.33
   1.862    6.7739  11.3707   1.7806   4.8      1.9518   1.6669   3.7623
   4.723   12.0083   1.299    1.2489   1.9459   1.602    9.1947   5.4161
   1.1744  14.8283   3.6223   1.8997   1.9665   1.2312   2.2621  15.7616
   3.3905   6.9771   1.4502   1.704    9.2132   8.5804   6.5359   1.663
   1.1398  26.2391  15.9739  33.4158  12.2192   1.3928   3.967  197.5466
   2.4039  28.8601  29.64     2.0732   2.4698   3.7323   2.3281   1.1537
   9.3568   1.3536   2.2887   2.142    3.1275   3.7619   4.0845   5.4136
   1.4437   1.781    1.64     1.497    4.3321   2.3231  14.639    1.7868
   8.5157  42.5983   1.7523  10.3046   2.5406   2.3951   2.0879   1.2486
   1.9124   1.44     1.2938   1.4571   5.1332   1.1684   2.6372   3.2409
   4.734    1.2793   1.3467   5.396    2.5298   3.8297   3.0074   2.8418
   1.4318  14.1063  12.4624   4.2104   2.1059   2.8232   1.2166   1.6921
   1.5774  18.4867  16.8705   3.4421   1.2673   2.4946   4.2239   1.3706
   1.5169   4.4231   3.11     3.507    3.8995   3.7308  87.1532   2.347
  41.105    1.2355   2.6866   1.9206   1.4325   3.1924   2.4121   1.3858
   2.0063   1.4505  14.0753   2.8899   1.8654   1.2026   2.2743   1.1089
   4.8272   2.495    1.3412   1.8205   5.2559   3.91     2.0379   1.682
   1.2369   1.6538   3.3256   1.5237   2.5976   3.9364   2.57     5.9399
   1.3627   3.0062   1.5734   2.6842   4.5482   3.5056   3.1128   2.2182
   1.4787   1.2692   1.8907  13.1     12.8      4.5112   3.0898   1.4144
   1.92     2.2937   2.7637   1.28     3.4227   1.2397   1.1342   2.1235
   4.2545   1.1952   2.9845   1.9166   1.8098 157.5     63.     113.4
  22.8664   3.2      1.3039   2.7427   1.8151   1.6343   1.7237   1.6988
   1.599    1.1747   2.7343   1.9498   1.0467   1.2609  29.52    30.7193
   3.7376  29.52     1.5222   1.8727  13.1943   1.515    1.8321   1.1774
   5.5636   3.6603   1.2197   7.5262   1.9481   6.05     2.0788   5.445
   1.3788   1.5072   2.8032   3.0696   3.4863   4.1675   1.6337   1.2428
   2.5568   1.9167   1.694    1.4352   1.2793   5.6609  13.2324  27.626
   8.6561   3.412    5.1789   1.7375   5.3493  19.5755   1.3031  26.7694
   1.9623   1.5751   1.7258   3.6844   1.4539   1.5433   1.946    1.4283
   1.3828   1.2312   1.4637   1.4558  83.1366   1.1482   4.3848   1.9958
  11.856   10.0329   1.0987   1.3565   1.5163   2.8623   1.2074   2.3112
   2.8955   2.5769   2.0067   3.355    1.4072   1.5383   2.6355 117.39
   1.0608   3.2657   8.7828  23.0615   1.8036   6.0525   4.68     2.8996
   5.7971   2.8996   1.122    1.3751   3.049    1.3464   2.1798   3.4944
   1.6575   4.335    4.1125   3.8433   5.3489   1.9573   2.2083   1.8687
   1.5116   5.61     1.6636   1.8105   3.5251   1.6779  14.6452   1.289
   1.7647   4.092 ]

In [15]:
unique_disasters = data['Disaster'].unique()
print(unique_disasters)

['Flooding' 'Tropical Cyclone' 'Drought' 'Freeze' 'Severe Storm'
 'Winter Storm' 'Wildfire']

In [12]:
data.to_csv('events-us.csv', index=False)